WebWCF/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61847/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61847/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61847/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_clientesLista_InputMessage">
    <wsdl:part name="parameters" element="tns:clientesLista" />
  </wsdl:message>
  <wsdl:message name="IService1_clientesLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:clientesListaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_clientesGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:clientesGuardar" />
  </wsdl:message>
  <wsdl:message name="IService1_clientesGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:clientesGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_productosLista_InputMessage">
    <wsdl:part name="parameters" element="tns:productosLista" />
  </wsdl:message>
  <wsdl:message name="IService1_productosLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:productosListaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_usuariosLista1_InputMessage">
    <wsdl:part name="parameters" element="tns:usuariosLista1" />
  </wsdl:message>
  <wsdl:message name="IService1_usuariosLista1_OutputMessage">
    <wsdl:part name="parameters" element="tns:usuariosLista1Response" />
  </wsdl:message>
  <wsdl:message name="IService1_usuarioGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:usuarioGuardar" />
  </wsdl:message>
  <wsdl:message name="IService1_usuarioGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:usuarioGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_productGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:productGuardar" />
  </wsdl:message>
  <wsdl:message name="IService1_productGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:productGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_usuarioDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:usuarioDatos" />
  </wsdl:message>
  <wsdl:message name="IService1_usuarioDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:usuarioDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_productDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:productDatos" />
  </wsdl:message>
  <wsdl:message name="IService1_productDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:productDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_clientesDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:clientesDatos" />
  </wsdl:message>
  <wsdl:message name="IService1_clientesDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:clientesDatosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clientesLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/clientesLista" message="tns:IService1_clientesLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/clientesListaResponse" message="tns:IService1_clientesLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clientesGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/clientesGuardar" message="tns:IService1_clientesGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/clientesGuardarResponse" message="tns:IService1_clientesGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="productosLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/productosLista" message="tns:IService1_productosLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/productosListaResponse" message="tns:IService1_productosLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usuariosLista1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/usuariosLista1" message="tns:IService1_usuariosLista1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/usuariosLista1Response" message="tns:IService1_usuariosLista1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usuarioGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/usuarioGuardar" message="tns:IService1_usuarioGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/usuarioGuardarResponse" message="tns:IService1_usuarioGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="productGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/productGuardar" message="tns:IService1_productGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/productGuardarResponse" message="tns:IService1_productGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usuarioDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/usuarioDatos" message="tns:IService1_usuarioDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/usuarioDatosResponse" message="tns:IService1_usuarioDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="productDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/productDatos" message="tns:IService1_productDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/productDatosResponse" message="tns:IService1_productDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clientesDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/clientesDatos" message="tns:IService1_clientesDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/clientesDatosResponse" message="tns:IService1_clientesDatos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clientesLista">
      <soap:operation soapAction="http://tempuri.org/IService1/clientesLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clientesGuardar">
      <soap:operation soapAction="http://tempuri.org/IService1/clientesGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productosLista">
      <soap:operation soapAction="http://tempuri.org/IService1/productosLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuariosLista1">
      <soap:operation soapAction="http://tempuri.org/IService1/usuariosLista1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioGuardar">
      <soap:operation soapAction="http://tempuri.org/IService1/usuarioGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productGuardar">
      <soap:operation soapAction="http://tempuri.org/IService1/productGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuarioDatos">
      <soap:operation soapAction="http://tempuri.org/IService1/usuarioDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productDatos">
      <soap:operation soapAction="http://tempuri.org/IService1/productDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clientesDatos">
      <soap:operation soapAction="http://tempuri.org/IService1/clientesDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61847/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>