WebWCF/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClientes_Result4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clientes_Result4" nillable="true" type="tns:Clientes_Result4" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientes_Result4" nillable="true" type="tns:ArrayOfClientes_Result4" />
  <xs:complexType name="Clientes_Result4">
    <xs:sequence>
      <xs:element minOccurs="0" name="client_id" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password_client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clientes_Result4" nillable="true" type="tns:Clientes_Result4" />
  <xs:complexType name="ClienteGuardar_Result3">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteGuardar_Result3" nillable="true" type="tns:ClienteGuardar_Result3" />
  <xs:complexType name="ArrayOfProductos_Result2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Productos_Result2" nillable="true" type="tns:Productos_Result2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductos_Result2" nillable="true" type="tns:ArrayOfProductos_Result2" />
  <xs:complexType name="Productos_Result2">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Productos_Result2" nillable="true" type="tns:Productos_Result2" />
  <xs:complexType name="ArrayOfUsuario_Result1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario_Result1" nillable="true" type="tns:Usuario_Result1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario_Result1" nillable="true" type="tns:ArrayOfUsuario_Result1" />
  <xs:complexType name="Usuario_Result1">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password_user" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario_Result1" nillable="true" type="tns:Usuario_Result1" />
  <xs:complexType name="UsuarioGuardar_Result3">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioGuardar_Result3" nillable="true" type="tns:UsuarioGuardar_Result3" />
  <xs:complexType name="ProductGuardar_Result1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductGuardar_Result1" nillable="true" type="tns:ProductGuardar_Result1" />
</xs:schema>