WebWCF/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61847/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="clientesListaResult" nillable="true" type="q1:ArrayOfClientes_Result4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="validate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="clientesGuardarResult" nillable="true" type="q2:ClienteGuardar_Result3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productosLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="productosListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="productosListaResult" nillable="true" type="q3:ArrayOfProductos_Result2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosLista1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosLista1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="usuariosLista1Result" nillable="true" type="q4:ArrayOfUsuario_Result1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rol" type="xs:int" />
        <xs:element minOccurs="0" name="validate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="usuarioGuardarResult" nillable="true" type="q5:UsuarioGuardar_Result3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" type="xs:int" />
        <xs:element minOccurs="0" name="validate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="productGuardarResult" nillable="true" type="q6:ProductGuardar_Result1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="usuarioDatosResult" nillable="true" type="q7:Usuario_Result1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProduct" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="productDatosResult" nillable="true" type="q8:Productos_Result2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdClient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="clientesDatosResult" nillable="true" type="q9:Clientes_Result4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>